In [47]:
import pandas as pd
df=pd.read_excel("CustomerCallList.xlsx")
print(df.tail(10))

    CustomerID First_Name    Last_Name  Phone_Number  \
11        1012      Harry    ...Potter    7066950392
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876|678|3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123/643/9775
17        1018      Clark         Kent    7066950392
18        1019      Creed       Braton           N/a
19        1020     Anakin    Skywalker  876|678|3469
20        1020     Anakin    Skywalker  876|678|3469

                           Address Paying Customer Do_Not_Contact  \
11            2394 Hogwarts Avenue               Y            NaN
12                2039 Main Street             Yes              N
13                343 City Parkway             Yes             No
14                   214 HR Avenue               N             No
15            2395 Hogwarts Avenue              No              N
16  121 Paper Avenue, Pennsylvania             Yes             No
17                 3498 Super Lane               Y            NaN
18                             N/a             N/a            Yes
19     910 Tatooine Road, Tatooine             Yes              N
20     910 Tatooine Road, Tatooine             Yes              N

    Not_Useful_Column
11               True
12              False
13              False
14              False
15              False
16              False
17               True
18               True
19               True
20               True

In [49]:
df["Last_Name"].ffill(inplace=True)
df["Last_Name"].head(10)

0     Baggins
1       Nadir
2      /White
3     Schrute
4        Snow
5     Swanson
6      Winger
7      Holmes
8      Holmes
9      Parker
Name: Last_Name, dtype: object

In [51]:
import numpy as np
df["Phone_Number"].replace("N/a" ,np.nan, inplace=True)
df['Phone_Number'].fillna("000-000-0000", inplace=True)
df['Phone_Number'].head(10)

0    123-545-5421
1    123/643/9775
2      7066950392
3    123-543-2345
4    876|678|3469
5    304-762-2467
6    000-000-0000
7    876|678|3469
8    000-000-0000
9    123-545-5421
Name: Phone_Number, dtype: object

In [53]:
df['Last_Name'] = df['Last_Name'].str.replace(r'[^A-Za-z ]', '', regex=True).str.strip()
df["Last_Name"].head(10)

0    Baggins
1      Nadir
2      White
3    Schrute
4       Snow
5    Swanson
6     Winger
7     Holmes
8     Holmes
9     Parker
Name: Last_Name, dtype: object

In [54]:
df["Address"].replace("N/a" ,np.nan, inplace=True)
df['Address'].fillna("Not Available", inplace=True)
df["Address"].head(10)

0                    123 Shire Lane, Shire
1                      93 West Main Street
2                       298 Drugs Driveway
3    980 Paper Avenue, Pennsylvania, 18503
4                         123 Dragons Road
5                         768 City Parkway
6                        1209 South Street
7                            98 Clue Drive
8                         123 Middle Earth
9               25th Main Street, New York
Name: Address, dtype: object

In [57]:
df["Paying Customer"].replace("Y","Yes",inplace=True)    
df["Paying Customer"].replace("N","No",inplace=True)
df["Paying Customer"].replace("N/a",np.nan,inplace=True)    
df["Paying Customer"].fillna("No",inplace=True)
df["Paying Customer"].head(10)

0    Yes
1     No
2     No
3    Yes
4    Yes
5    Yes
6     No
7     No
8    Yes
9    Yes
Name: Paying Customer, dtype: object

In [63]:
df["Do_Not_Contact"].replace("Y","Yes",inplace=True)
df["Do_Not_Contact"].replace("N","No",inplace=True)
df["Do_Not_Contact"].fillna("No",inplace=True)
df["Do_Not_Contact"].head(10)

0     No
1    Yes
2     No
3    Yes
4     No
5    Yes
6     No
7     No
8     No
9     No
Name: Do_Not_Contact, dtype: object

In [61]:
df["Not_Useful_Column"].drop(columns=["Not_Useful_Column"],inplace=True)

In [64]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,000-000-0000,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,No,False
8,1009,Gandalf,Holmes,000-000-0000,123 Middle Earth,Yes,No,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,000-000-0000,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Yes,No,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,No,True
18,1019,Creed,Braton,000-000-0000,Not Available,No,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No,True