read csv function

In [3]:
import pandas as pd
rd=pd.read_csv("sales_data_sample.csv",encoding="latin1")
print(rd.head(10))

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27
5        10168               36      96.66                1  3479.76
6        10180               29      86.13                9  2497.77
7        10188               48     100.00                1  5512.32
8        10201               22      98.57                2  2168.54
9        10211               41     100.00               14  4708.44

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...
5  10/28/2003 0:00  Shipped       4        10     2003  ...
6  11/11/2003 0:00  Shipped       4        11     2003  ...
7  11/18/2003 0:00  Shipped       4        11     2003  ...
8   12/1/2003 0:00  Shipped       4        12     2003  ...
9   1/15/2004 0:00  Shipped       1         1     2004  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA
5              9408 Furth Circle           NaN     Burlingame    CA
6        184, chausse de Tournai           NaN          Lille   NaN
7    Drammen 121, PR 744 Sentrum           NaN         Bergen   NaN
8      5557 North Pendale Street           NaN  San Francisco    CA
9              25, rue Lauriston           NaN          Paris   NaN

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium
5      94217     USA       NaN          Hirano             Juri   Medium
6      59000  France      EMEA           Rance          Martine    Small
7     N 5804  Norway      EMEA          Oeztan           Veysel   Medium
8        NaN     USA       NaN          Murphy            Julie    Small
9      75016  France      EMEA         Perrier        Dominique   Medium

[10 rows x 25 columns]

read json function

In [2]:
import pandas as pd
rd=pd.read_json("sample_Data.json")
print(rd.head(10))

   id                                         name  \
0   1                              Apple iPhone 12
1   2                           Samsung Galaxy S21
2   3                           Sony PlayStation 5
3   4            LG OLED55CXPUA 55-inch 4K OLED TV
4   5  Bose QuietComfort 35 II Wireless Headphones
5   6                    Fitbit Versa 3 Smartwatch
6   7                       KitchenAid Stand Mixer
7   8           Dyson V11 Absolute Cordless Vacuum
8   9                   Ninja Foodi Smart XL Grill
9  10              Canon EOS Rebel T8i DSLR Camera

                                         description    price  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2  The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4  The Bose QuietComfort 35 II Wireless Headphone...   299.00
5  The Fitbit Versa 3 Smartwatch features a built...   229.95
6  The KitchenAid Stand Mixer features a 5-quart ...   399.99
7  The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8  The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9  The Canon EOS Rebel T8i DSLR Camera features a...   899.00

          category                                              image
0      Electronics  https://www.apple.com/newsroom/images/product/...
1      Electronics  https://images.samsung.com/is/image/samsung/p6...
2      Electronics  https://www.sony.com/image/44baa604124b770c824...
3      Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5      Electronics  https://www.fitbit.com/global/content/dam/fitb...
6   Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7  Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8   Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9      Electronics  https://www.canon.com.au/-/media/images/produc...

Storing data and creating a table using dataFrame function

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam"],
    "Age":[10,20,30],
    "City":["Indore","Dhar","Bihar"]
}
rd=pd.DataFrame(data)
print(rd)

    Name  Age    City
0  Shree   10  Indore
1    Anu   20    Dhar
2    Sam   30   Bihar