conditional statements

In [ ]:
def std_currency(cur):
    if cur=='Dollar' or cur=='$':
        return 'USD'
    return cur
rd = pd.read_csv("output.csv",converters = { 'Currency' : std_currency})
print(rd)

    Name    City   DOB  Salary Currency
0  Shree  Indore  2003   20000      INR
1    Anu    Dhar  1990   10000      USD
2    Sam    Dhar  1998   30000      USD
3   Ritu    Dhar  1995   40500      USD
4   Gyan   Delhi  2000   23000      USD

single and multiple conditions

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam","Ritu","Gyan"],
    "Age":[10,20,30,40,50],
    "City":["Indore","Dhar","Bihar","Patna","Delhi"]
}
df=pd.DataFrame(data)
print(df[df["Age"]>30])
print(df[(df["Age"]>10) & (df["Age"]<30)])
print(df[(df["Age"]>30) | (df["Name"]=="Anu")])

   Name  Age   City
3  Ritu   40  Patna
4  Gyan   50  Delhi
  Name  Age  City
1  Anu   20  Dhar
   Name  Age   City
1   Anu   20   Dhar
3  Ritu   40  Patna
4  Gyan   50  Delhi