displaying info of data sets

In [ ]:
import pandas as pd
rd=pd.read_json("sample_Data.json")
print("displaying info of data sets")
print(rd.info())

displaying info of data sets
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None

decribe method

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam","Ritu","Gyan"],
    "Age":[10,20,30,40,50],
    "City":["Indore","Dhar","Bihar","Patna","Delhi"]
}
rd=pd.DataFrame(data)
print(rd.describe())

             Age
count   5.000000
mean   30.000000
std    15.811388
min    10.000000
25%    20.000000
50%    30.000000
75%    40.000000
max    50.000000

shape and column

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam"],
    "Age":[10,20,30],
    "City":["Indore","Dhar","Bihar"]
}
rd=pd.DataFrame(data)
print(f'shape: {rd.shape}')
print(f'column name: {rd.columns}')

shape: (3, 3)
column name: Index(['Name', 'Age', 'City'], dtype='object')

Converting to CSV file using to_csv function

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam","Ritu","Gyan"],
    "City":["Indore","Dhar","Dhar","Dhar","Delhi"],
    "DOB":[2003,1990,1998,1995,2000],
    "Salary":[20000,10000,30000,40500,23000],
    "Currency":['INR','$','USD','$','Dollar']
}
rd=pd.DataFrame(data)
print(rd)
rd.to_csv("output.csv",index=False)    #csv file
rd.to_json("output.xlsx",index=False)    #excel file

    Name    City   DOB  Salary Currency
0  Shree  Indore  2003   20000      INR
1    Anu    Dhar  1990   10000        $
2    Sam    Dhar  1998   30000      USD
3   Ritu    Dhar  1995   40500        $
4   Gyan   Delhi  2000   23000   Dollar

unique function

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam","Ritu","Gyan"],
    "Age":[20,20,30,40,20],
    "City":["Indore","Dhar","Dhar","Dhar","Delhi"]
}
df=pd.DataFrame(data)
print(df.City.unique())
print(df['Age'].unique())

['Indore' 'Dhar' 'Delhi']
[20 30 40]

value count function

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam","Ritu","Gyan"],
    "Age":[20,20,30,40,20],
    "City":["Indore","Dhar","Dhar","Dhar","Delhi"]
}
df=pd.DataFrame(data)
print(df.City.value_counts())

City
Dhar      3
Indore    1
Delhi     1
Name: count, dtype: int64

max / min function

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam","Ritu","Gyan"],
    "Age":[10,20,30,40,20],
    "City":["Indore","Dhar","Dhar","Dhar","Delhi"]
}
df=pd.DataFrame(data)
print(df.Age.max())
print(df.min())
print(df[df.Age == df.Age.max()])
print(df[(df.Age == df.Age.max()) | (df.Age == df.Age.min())])

40
Name      Anu
Age        10
City    Delhi
dtype: object
   Name  Age  City
3  Ritu   40  Dhar
    Name  Age    City
0  Shree   10  Indore
3   Ritu   40    Dhar

apply function

In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam","Ritu","Gyan"],
    "City":["Indore","Dhar","Dhar","Dhar","Delhi"],
    "DOB":[2003,1990,1998,1995,2000],
    "Salary":[20000,10000,30000,40500,23000]
}
df=pd.DataFrame(data)
df["Age"]=df['DOB'].apply(lambda x : 2025-x)
print(df)
print()
df["increment"]=df['Salary'].apply(lambda x: x+x/10)
print(df)
print()
df["Bonus"]=df.apply(lambda x : x['increment'] - x['Salary'] ,axis=1)
print(df)

    Name    City   DOB  Salary  Age
0  Shree  Indore  2003   20000   22
1    Anu    Dhar  1990   10000   35
2    Sam    Dhar  1998   30000   27
3   Ritu    Dhar  1995   40500   30
4   Gyan   Delhi  2000   23000   25

    Name    City   DOB  Salary  Age  increment
0  Shree  Indore  2003   20000   22    22000.0
1    Anu    Dhar  1990   10000   35    11000.0
2    Sam    Dhar  1998   30000   27    33000.0
3   Ritu    Dhar  1995   40500   30    44550.0
4   Gyan   Delhi  2000   23000   25    25300.0

    Name    City   DOB  Salary  Age  increment   Bonus
0  Shree  Indore  2003   20000   22    22000.0  2000.0
1    Anu    Dhar  1990   10000   35    11000.0  1000.0
2    Sam    Dhar  1998   30000   27    33000.0  3000.0
3   Ritu    Dhar  1995   40500   30    44550.0  4050.0
4   Gyan   Delhi  2000   23000   25    25300.0  2300.0

Concatenation

In [ ]:
import pandas as pd
df_customer=pd.DataFrame ({
    "cust_id":[1,2,3],
    "name":["dev","raj","indra"]
})
df_order=pd.DataFrame ({
    "cust_id":[1,2,4],
    "amount":[222,333,444]
})
print(pd.concat([df_customer,df_order],ignore_index=True))
print()
print(pd.concat([df_customer,df_order],axis=1,ignore_index=True))

   cust_id   name  amount
0        1    dev     NaN
1        2    raj     NaN
2        3  indra     NaN
3        1    NaN   222.0
4        2    NaN   333.0
5        4    NaN   444.0

   0      1  2    3
0  1    dev  1  222
1  2    raj  2  333
2  3  indra  4  444