In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Sam","Ritu","Gyan"],
    "City":["Indore","Dhar","Dhar","Dhar","Delhi"],
    "DOB":[2003,1990,1998,1995,2000],
    "Salary":[20000,10000,30000,40500,23000]
}
df=pd.DataFrame(data)
print(df.index)
df.set_index('Name',inplace=True)
print(df)
print()
print(df.index)

RangeIndex(start=0, stop=5, step=1)
         City   DOB  Salary
Name
Shree  Indore  2003   20000
Anu      Dhar  1990   10000
Sam      Dhar  1998   30000
Ritu     Dhar  1995   40500
Gyan    Delhi  2000   23000

Index(['Shree', 'Anu', 'Sam', 'Ritu', 'Gyan'], dtype='object', name='Name')