insertion / deletion

In [ ]:
print(pd.read_csv('output.csv'))
print()
df['Bonus']=df['Salary']/10
print(df)
print()
df.loc[0,'Age']=18
df['Age']=df['Age']+20
df.drop(['emp_id'],inplace=True,axis=1)
print(df)
print()
df.insert(0,'emp_id',[101,102,103,104,105])
print(df)
print()

    Name    City   DOB  Salary Currency
0  Shree  Indore  2003   20000      INR
1    Anu    Dhar  1990   10000        $
2    Sam    Dhar  1998   30000      USD
3   Ritu    Dhar  1995   40500        $
4   Gyan   Delhi  2000   23000   Dollar

   emp_id  Age   Name    City   DOB  Salary Currency   Bonus
0     101   38  Shree  Indore  2003   20000      INR  2000.0
1     102  282    Anu    Dhar  1990   10000        $  1000.0
2     103  283    Sam    Dhar  1998   30000      USD  3000.0
3     104  284   Ritu    Dhar  1995   40500        $  4050.0
4     105  285   Gyan   Delhi  2000   23000   Dollar  2300.0

   Age   Name    City   DOB  Salary Currency   Bonus
0   38  Shree  Indore  2003   20000      INR  2000.0
1  302    Anu    Dhar  1990   10000        $  1000.0
2  303    Sam    Dhar  1998   30000      USD  3000.0
3  304   Ritu    Dhar  1995   40500        $  4050.0
4  305   Gyan   Delhi  2000   23000   Dollar  2300.0
   emp_id  Age   Name    City   DOB  Salary Currency   Bonus
0     101   38  Shree  Indore  2003   20000      INR  2000.0
1     102  302    Anu    Dhar  1990   10000        $  1000.0
2     103  303    Sam    Dhar  1998   30000      USD  3000.0
3     104  304   Ritu    Dhar  1995   40500        $  4050.0
4     105  305   Gyan   Delhi  2000   23000   Dollar  2300.0