In [ ]:
import pandas as pd
data={
    "Name":["Shree","Anu","Yash","Ritu","Gyan"],
    "City":["Indore","Dunao","Dhar","Dhar","Delhi"],
    "DOB":[2003,None,1998,1995,2000],
    "Salary":[20000,10000,30000,None,23000],
    "Value":[10,None,30,None,50]
}
df=pd.DataFrame(data)
print(df)
print()
df['Value']=df['Value'].interpolate(method="linear")
print(df)

    Name    City     DOB   Salary  Value
0  Shree  Indore  2003.0  20000.0   10.0
1    Anu   Dunao     NaN  10000.0    NaN
2   Yash    Dhar  1998.0  30000.0   30.0
3   Ritu    Dhar  1995.0      NaN    NaN
4   Gyan   Delhi  2000.0  23000.0   50.0

    Name    City     DOB   Salary  Value
0  Shree  Indore  2003.0  20000.0   10.0
1    Anu   Dunao     NaN  10000.0   20.0
2   Yash    Dhar  1998.0  30000.0   30.0
3   Ritu    Dhar  1995.0      NaN   40.0
4   Gyan   Delhi  2000.0  23000.0   50.0